*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.intro{
    min-height: 80vh;
    width: 100%;
    background-color: color-mix(in srgb-linear,rgb(112, 240, 112)  30%, white 70%);
}
.text h1{
    font-size: 50px;
    color:color-mix(in srgb, black 20%, rgb(36, 236, 243) 80%);
    font-family:cursive;
    letter-spacing: 4px;
}
.text{
    width: 400px;
    margin-left: 300px;
    margin-top: 100px;
    position: absolute;
    letter-spacing:auto;
    word-spacing: auto;

}
.text p{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 300;
    padding: 5px;
    line-height: 25px;
    color: rgb(73, 66, 66);
}
.block{
   background-color:color-mix(in xyz, rgb(6, 82, 133) 70%, green 30%);
   min-height: 80vh;
   width:300px;
   position: absolute;
   margin-left: 700px;
}
.intro img{
    height:79vh ;
    width: auto;
    position: absolute;
    margin-left: 650px;
    margin-top: 5px;
}
.text input{
    height: 45px;
    width:200px;
    background-color:color-mix(in xyz, rgb(6, 82, 133) 70%, green 30%);
    color: white;
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 10px;
    font-size: 20px;
}
.text input:hover{
    transform: scale(1.05);
    transition: 0.2s;
}

.about{
    height: 100px;
    width: auto;
    margin-top:40px;
    margin-left: 70px;
    text-align: start;
}
.about h1{
    margin-left: 150px;
    font-size: 50px;
}
.about p{
    margin-left: 150px;
    padding-right: 300PX;
    font-style: normal;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 35px;
    margin-top: 30px;
}
.skills{
    margin-top: 100px;
    min-height: 70vh;
    width: auto;
    display: flex;
    gap:130px;
    justify-content: center;
    align-items: center;

}
.card{
    background-color:white;
    height: 250px;
    width:250px;
border: solid;
text-align: center;
}
.card img{
    height: 200px;
    width: 100%;
    border-bottom: solid;
    
}
.card h1{
    margin-top: 8px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.card:hover{
    transform: translateY(-10px);
    border: solid color-mix(in srgb, black 50%, yellow 50%);
    transition: 0.2s;
}
.top{
    position: absolute;
    margin-bottom: 390px;
    width: auto;
    margin-left: 0px;
}
.top h1{
 font-family: sans-serif;
 font-size: 50px;
 font-weight: 600;
}
.projects{
    height: 300px;
    width:90%;
    display: flex;
    border: solid;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left:100px;

}
.projects img{
    margin-left: 1000px;
    position: absolute;
    height: 250px;
}
.content{
    width:900px;
    margin-right: 310px;
}
.content p{
    font-size: 25px;
    list-style: 0.01em;
    margin-top: 10px;
}
.content h1{
    color: brown;
}
.contact{
    display: flex;
    justify-content: center;
    align-items:center;
    gap:400px;
    width: 100%;
    background-color: color-mix(in srgb, grey 90%, purple 10%);
    margin-top: 40px;
    height: 400px;
    text-decoration: none;
    text-align: center;
}
.details{
    position: absolute;
    margin-top: -30px;
    margin-left: 200px;
}
.details h2{
    font-size: 25px;
    text-decoration: underline;
}
.social{
    flex-direction: row;
    align-items:flex-start;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 100px;
    margin-right: 50px;

}
.social ul{
    position: relative;
    flex-direction:row;
    align-items: flex-start;
    display: flex;
    list-style-type: none;
    margin:5px;
    margin-top: -50px ;
    margin-left: -100px;
}
.social ul img{
    height: 30px;
    width:30px;
    padding:0;
    margin-left:0px;
    margin-right: 10px;
    margin-top: 70px;
}
.social img:hover{
    transform: scale(0.5);
    transition: 0.5s;
}
.details ul{
    margin-bottom: 30px;
} 
.details ul li{
    list-style: none;
    line-height: 20px;
    margin-bottom: 15px;
    margin-left: -300px;
    font-size: 20px;
}
.social ul h3{
    margin-top:60px;
    margin-left:100px;
}
hr{
    border: solid 1px;
    width: 90%;
    align-items: center;
    margin-left: 50px;
  }
  .ending{
    text-align: center;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    height: 50px;
  }
  .ending h3{
    margin-top: 10px;
  }
  .heading{
    position: absolute;
    margin-top: -60PX;
    margin-left: 650px;
  }
  .heading h1{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 600;
  }